---
import Container from "@components/container.astro";
import Features from "@components/features.astro";
import Hero from "@components/hero.astro";
import Servicios from "@components/Servicios.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title=''>
  <Container>
    <Hero />
    <Servicios/>
    <Features />
    <div class="mt-20 grid place-content-center">
      <a class="rounded pt-4 pb-2 px-6 font-semibold text-2xl border-b-4 border-[#09db81] text-[#19475b] hover:scale-125 transition-transform" href="/contact">Contactanos</a>
    </div>
    <!-- <Logos /> -->
    <!-- <Cta /> -->
  </Container>
</Layout>
