---
import Container from "@components/container.astro";
import { icons } from "@iconify-json/bx/index.js";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
{
    title: "Inicio",
    path: "/",
    icon:'bx-home-alt-2'
  },
  {
    title: "Desarrollo",
    path: "/desarrollo",
    icon:'bx-devices'
  },
  {
    title: "Software",
    path: "/software",
    icon:'bx-code'
  },
  {
    title: "Seguridad",
    path: "/seguridad",
    icon:'bx-lock-alt'
  },
  {
    title: "Contacto",
    path: "/contact",
    icon:'bx-envelope'
  },
];
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/">
          <img class="w-40 md:w-60" src="logo.jpg" alt="Realidario-Logo" />
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-16 h-8 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {item && (
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 items-center text-gray-600 hover:text-gray-900">
                      <span class="flex gap-2 items-center"><i class={`bx ${item.icon}`}></i> {item.title}</span>
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
      </MenuItems>
    </Astronav>
  </header>
</Container>
