---
import { Icon } from "astro-icon/components";
import AOSWrapper from "./AOSWrapper";

const features = [
  {
    title: "Cuenta con tu propio Framework",
    description:
      "Desarrollamos tu sitio usando React, componentes web, o simplemente HTML + JavaScript.",
    icon: "bx:bxs-briefcase",
    fade: "fade-down-left",
  },
  {
    title: "100% Estatico HTML, Sin JS",
    description:
      "Astro convierte toda la página en HTML estático, eliminando por defecto todo el JavaScript de la compilación final.",
    icon: "bx:bxs-window-alt",
    fade: "fade-down-left",
  },
  {
    title: "Componentes a petición",
    description:
      "¿Necesitas algo de JS? Astro puede hidratar automáticamente los componentes interactivos cuando se hacen visibles en la página.",
    icon: "bx:bxs-data",
    fade: "fade-down-left",
  },
  {
    title: "Amplia integración",
    description:
      "Astro soporta TypeScript, Scoped CSS, CSS Modules, Sass, Tailwind, Markdown, MDX, y cualquier otro paquete npm.",
    icon: "bx:bxs-bot",
    fade: "fade-down-left",
  },
  {
    title: "SEO habilitado",
    description:
      "Los sitemaps automáticos, los canales RSS, la paginación y las colecciones eliminan las molestias del SEO y la sindicación. Simplemente funciona.",
    icon: "bx:bxs-file-find",
    fade: "fade-down-left",
  }
];
---

<AOSWrapper client:load>
<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-28 gap-16">
  {
    features.map((item) => (
      <div  class="flex gap-4 items-start shadow-xl p-4">
        <div class="mt-1 bg-[#09db81] rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg text-[#19475b]">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
</AOSWrapper>
