<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} Realidario
  </p>
  <p class="text-center text-xs text-slate-500 mt-1">
    Todos los logotipos, nombres y marcas
    mencionados en este sitio, son propiedad de sus respectivos dueños.
    <br />Las fotografías son únicamente para fines de ilustración.
  </p>
</footer>
