---
import AOSWrapper from "./AOSWrapper";
---

<main class="relative mb-20 h-[50vh] nd:h-[25vh] lg:h-[50vh]">
  <AOSWrapper>
      <img
        class="absolute inset-0 w-full h-full rounded-b-3xl object-cover"
        src="hero.jpg"
        alt="Realidario\Oficina"
      />
      <div
        class="absolute inset-0 bg-[#000000a1] text-white grid place-content-center rounded-b-3xl">
        <div data-aos="fade-right">
          <img class="w-full" src="LogoHeader.png" alt="Realidario|Logo" />
          <h1
            class="text-xl lg:text-3xl xl:text-4xl mt-2 font-semibold lg:tracking-tight xl:tracking-tighter text-center">
            Servicios de desarrollo
          </h1>
        </div>
      </div>
  </AOSWrapper>
</main>
